.graph-main{
    text-align: center;
    margin-top: 0%;
}
.graph{
    text-align: center;
}
h3{
    font-size: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
body{
    margin-top: 1%;
    padding-top: 0%;
}